<%= form_for(@webpage, remote: true) do |f| %>


  <div class="field">
    <%= f.text_field :name, class: "webpage-name" %>
  </div>
<% end %>

<%= link_to "Generate Code", webpage_path(@webpage), class: "btn btn-primary btn-generate" %>



<script>
	
	$(function() {
		$('.webpage-name').change(function(){
			$('.edit_webpage').submit();
		});
	});
</script>
