<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Weblox List</title>
	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Fontawesome.io CSS -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- Google Fonts: Montserrat, Open Sans -->
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,300,700">
	<link rel="stylesheet" href="bloxstyle.css">
</head>
<body>

