<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webpage.name %>
</p>


	<% if @webpage.blocs.present? %>
		
		<pre><code data-language="html">
		
		<% for bloc in @webpage.blocs %>
		
	        <%= bloc.code %>
		
	    <% end %>
	    
	    </code></pre> 
    <% end %>

<%= link_to 'Back', edit_webpage_path(@webpage), class: 'btn btn-primary btn-sm' %>
