<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Weblox - About Us</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<%= stylesheet_link_tag    "application", media: "all" %>
	<link href="../assets/favicon.ico" rel="icon" type="image/x-icon" />

</head>
<body class="static-page">

	<div class="polygon" height="300" width="300"></div>

	<div class="close-page"><a href="/"><i class="fa fa-times fa-3x"></i></a></div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3>About Us</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-6">
						<div class="about-me">
							<div class="text-center">
								<img src="https://pbs.twimg.com/profile_images/464623408991330304/Oc35DbTJ.jpeg" alt="Haris" class="img-responsive img-circle">
								<h4>Haris Mahmood<br>
								<small>Co Developer</small></h4>
							</div>
							
							<br>
							<div class="about-me-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, quis, ratione libero ipsum veritatis voluptate beatae iste culpa id nam atque molestiae praesentium aperiam voluptatibus consequatur laboriosam voluptatem aut vero quasi suscipit veniam corporis aliquid perspiciatis dolores quaerat eveniet repellendus est saepe maxime quam. Explicabo, eius cupiditate consequatur quam perferendis?</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, voluptatum nulla numquam perferendis natus. Incidunt, voluptas eveniet saepe cumque praesentium!</p>
							</div>

							<ul class="social text-center">
								<li><a href="http://meetharis.com"><i class="fa fa-desktop fa-2x"></i></a></li>
								<li><a href="http://ca.linkedin.com/pub/haris-mahmood/50/b66/1b0"><i class="fa fa-linkedin fa-2x"></i></a></li>
								<li><a href="https://github.com/harismahmood89"><i class="fa fa-github fa-2x"></i></a></li>
								<li><a href="https://twitter.com/harismahmood89"><i class="fa fa-twitter fa-2x"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-6">
						<div class="about-me">
							<div class="text-center">
								<img src="https://pbs.twimg.com/profile_images/447594224372838400/h9piTdxu.jpeg" alt="Trudy" class="img-responsive img-circle">
								<h4>Trudy MacNabb<br>
								<small>Co Developer</small></h4>
							</div>
							
							<br>
							<div class="about-me-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ex debitis quidem illo quibusdam blanditiis id repellendus nam hic esse similique necessitatibus minima velit placeat pariatur minus soluta ut facilis nostrum possimus atque dolorum praesentium dolores molestias vel et consectetur itaque perferendis autem rerum eius veritatis molestiae aliquam dolorem veniam!</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, possimus, sit harum optio beatae totam dolore natus corporis eaque nulla.</p>
							</div>

							<ul class="social text-center">
								<li><a href="http://ca.linkedin.com/pub/trudy-macnabb/4a/910/7b1"><i class="fa fa-linkedin fa-2x"></i></a></li>
								<li><a href="https://github.com/deartrudence"><i class="fa fa-github fa-2x"></i></a></li>
								<li><a href="https://twitter.com/dear_trudence"><i class="fa fa-twitter fa-2x"></i></a></li>
							</ul>
							
						</div>
					</div>
				</div>

				<div class="row extra-padding">
					<div class="col-md-12 special-thanks text-center">
						<p>A super-big thanks to <a href="https://twitter.com/_bradrobertson">Professor Brad Robertson</a>, <a href="https://twitter.com/ryanbrunner">Professor Ryan Brunner</a> + <a href="https://twitter.com/enric_ribas">Enric Ribas</a> for their continuous help and support throughout this project.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>