<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Weblox - About Us</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<%= stylesheet_link_tag    "application", media: "all" %>
	<link href="../assets/favicon.ico" rel="icon" type="image/x-icon" />

</head>
<body class="static-page">

	<div class="layoutsbg" height="300" width="300"></div>

	<div class="close-page"><a href="/"><i class="fa fa-times fa-3x"></i></a></div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3>About Us</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-6">
						<div class="about-me">
							<div class="text-center">
								<img src="https://pbs.twimg.com/profile_images/464623408991330304/Oc35DbTJ.jpeg" alt="Haris" class="img-responsive img-circle">
								<h4>Haris Mahmood<br>
								<small>Co Developer</small></h4>
							</div>
							
							<br>
							<div class="about-me-text">
								<p>Haris currently works as a front end UI/UX designer + developer at OMERS. He has also been freelancing for the past five years offering various design and front end development services. He is a recent graduate from Hackeryou's part time Ruby on Rails course where Weblox was born.</p>
								<p>In his free time, he enjoys longboarding, playing soccer, and eating the majority of things he can get his hands on.</p>
							</div>

							<ul class="social text-center">
								<li><a href="http://meetharis.com"><i class="fa fa-desktop fa-2x"></i></a></li>
								<li><a href="http://ca.linkedin.com/pub/haris-mahmood/50/b66/1b0"><i class="fa fa-linkedin fa-2x"></i></a></li>
								<li><a href="https://github.com/harismahmood89"><i class="fa fa-github fa-2x"></i></a></li>
								<li><a href="https://twitter.com/harismahmood89"><i class="fa fa-twitter fa-2x"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-6">
						<div class="about-me">
							<div class="text-center">
								<img src="https://pbs.twimg.com/profile_images/447594224372838400/h9piTdxu.jpeg" alt="Trudy" class="img-responsive img-circle">
								<h4>Trudy MacNabb<br>
								<small>Co Developer</small></h4>
							</div>
							
							<br>
							<div class="about-me-text">
								<p>Trudy has worked as a mainframe developer at RBC for the past five years and decided to further expand her development skillset by joining Hackeryou's part time Ruby on Rails course.</p>
								<p>Trudy is extremely passionate about dance parties, tomatoes, and public transportation.</p>
							</div>

							<ul class="social text-center">
								<li><a href="http://ca.linkedin.com/pub/trudy-macnabb/4a/910/7b1"><i class="fa fa-linkedin fa-2x"></i></a></li>
								<li><a href="https://github.com/deartrudence"><i class="fa fa-github fa-2x"></i></a></li>
								<li><a href="https://twitter.com/dear_trudence"><i class="fa fa-twitter fa-2x"></i></a></li>
							</ul>
							
						</div>
					</div>
				</div>

				<div class="row extra-padding">
					<div class="col-md-12 special-thanks text-center">
						<p>A super-big thanks to <a href="https://twitter.com/_bradrobertson">Professor Brad Robertson</a>, <a href="https://twitter.com/ryanbrunner">Professor Ryan Brunner</a> + <a href="https://twitter.com/enric_ribas">Enric Ribas</a> for their continuous help and support throughout this project.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="about_us">
  <a href="/about_us" class="">About Us</a>
  <a href="/terms">Terms</a>
  <a href="<%=new_contact_path%>">Contact</a>
</div>
	
</body>
</html>