/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

/* INDEX
///////////////////////////////////////

- MIXINS
- REUSABLE COMPONENTS
	Ghost Button
	Primary Button
	Checkboxes
- FONT DECLARATIONS
- GENERAL PAGE STYLES
- STATIC PAGES
- ISOTOPE BLOX LISTING
- WEBLOX LANDING PAGE
- WEBLOX GENERIC FOOTER
- SIGN-IN MODAL
- NOTICES

///////////////////////////////////////*/


/* MIXINS
====================================== */
@mixin bg-image-gradient($one, $two){
	background-color: $one;
	background-image: -webkit-linear-gradient(top,$one,$two);
	background-image: -moz-linear-gradient(top,$one,$two);
	background-image: -ms-linear-gradient(top,$one,$two);
	background-image: -o-linear-gradient(top,$one,$two);
	background-image: linear-gradient(top,$one,$two);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}


/* REUSABLE COMPONENTS
====================================== */

/* Ghost Button
====================================== */
.btn.btn-ghost{
	border: 3px solid #222;
	border-radius: 0;
	line-height: 0.6em;
	padding: 20px 30px;

	&:hover{
		background-color: rgba(255,255,255,0.4);
	}
}


/* Primary Button
====================================== */
.btn.btn-primary{
	border: 1px solid #3079ed;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	@include bg-image-gradient(#4d90fe, #4787ed);

	&:hover{ @include bg-image-gradient(#2e89ff, #3079ED); }
}



/* Checkboxes
====================================== */
input[type=checkbox].css-checkbox {
	display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:30px;
	height:25px; 
	display:inline-block;
	line-height:27px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -25px;
}

label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_843386d3cb9a4d1c05313c7f23788d43.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



/* FONT DECLARATIONS
====================================== */
@font-face {
	font-family: 'GothamRounded-Medium';
	src: font-url('GothamRounded-Medium.eot?') format('eot'), 
	     font-url('GothamRounded-Medium.otf')  format('opentype'),
	     font-url('GothamRounded-Medium.woff') format('woff'), 
	     font-url('GothamRounded-Medium.ttf')  format('truetype'),
	     font-url('GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
}


/* GENERAL PAGE STYLES
====================================== */

body{
	font-family: 'GothamRounded-Medium', Helvetica, Arial, sans-serif !important;
}

.polygon{
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	background-image: image-url("polygon.jpg");
	background-size: cover;
	background-position: 50% 50%;
	opacity: 1;
}

.layoutsbg{
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	background-image: image-url("layouts.png");
	background-size: cover;
	background-position: 50% 50%;
	opacity: 0.2;
}

.layoutsbglight{
	opacity: 0.05;
}

.hidden{ display: none; }

.weblox-footer{
	padding: 20px 0;
	color: #fff;
	background-color: #444;
}

.weblox-nav-brand img{
	width: 150px;
	margin-top: -9px;
}

.page-border{
	position: fixed;
	height:5px;
	width: 100%;
	left:0;
	top: 0;
	background-image: image-url("polygon.jpg");
	background-size: cover;
	background-position: 50% 50%;
	z-index: 10;
	
}

#landing-content, #web-pages-content{
	position: absolute;
	height: 600px;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: calc(50% - 300px);
}



.landing-panel{
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
	position: relative;
	height: 600px;
	overflow: auto;

}

.panel-padding{
	padding: 35px;
}

.weblox-panel .weblox-branding{
	padding: 20px 0;
	background-color: #000;
	position: relative;
}


.weblox-panel .weblox-branding img{
	width: 100%;
}

.weblox-panel .weblox-branding:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000;
	border-width: 15px;
	margin-left: -15px;
}


.weblox-panel .weblox-text{
	font-size: 22px;
}

.weblox-panel .bootstrap-link{
	color: #583F7E;
	font-weight: bold;
}

.weblox-panel .bootstrap-link:hover{
	color: #6f5daf;
	text-decoration: none;
}

.weblox-panel .weblox-social{
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
}

.weblox-social ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 35px;
}

.weblox-social ul li{
	display: inline-block;
	padding: 0 25px;
}

.weblox-social ul li:first-child{
	padding-left: 0px;
}

.weblox-social ul li:last-child{
	padding-right: 0px;
}

.weblox-social ul li a{
	color: #9f9f9f;
}
.weblox-social ul li a:hover{
	color: #428bca;
}



.form-panel h4{
	padding-bottom: 35px;
	text-align: center;
}

.form-panel .form-control{
	height: 40px;
}

.form-panel .btn{
	height: 45px;
	text-transform: uppercase;
}

.form-panel .or-divider{
	position: relative;
	padding: 20px 0;
}

.form-panel .or-divider .or-text{
	position: absolute;
	border: 1px solid #e5e5e5;
	height: 30px;
	width: 30px;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
}

.form-panel .or-divider .or-text img{
	width: 100%;
}

.form-panel .weblox-form a{
	color: #428bca;
}

.form-panel .weblox-form a:hover{
	color: #666;
	text-decoration: none;
}

.btn.btn-social{
	position: relative;
	line-height: 35px;
}

.form-panel .btn i{
	padding-right: 10px;
}

.btn.btn-new{
	border: 1px solid #4d90fe;
	background-color: #fff;
	color: #222;
}

.btn.btn-social{
	border: 1px solid #e5e5e5;
	background-color: #f9f9f9;
	color: #444;
}

.btn.btn-social:hover{
	border-color: #e1e1e1;
	background-color: #f5f5f5;
}

.form-panel .form-footer-info{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	line-height: 49px;
	background-color: #f9f9f9;
	width: 100%;
	border-top: 1px solid #e5e5e5;
	font-size: 12px;
}

.form-panel .form-footer-info a{
	color: #666;
	font-size: 12px;
}

.form-panel .form-footer-info a:hover{
	color: #428bca;
	text-decoration: none;
}


.form-footer-info div:first-child{
	border-right: 1px solid #e5e5e5;
}

.form-footer-info a.btn-sign-up {
    height: 90%;
    color: white;
    width: 95%;
}
.form-footer-info a.btn-sign-up:hover {
    color:  white;
}

.about_us{
	position: absolute;
	padding: 20px;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: right;
}

.about_us a{
	color: white;
	margin-right: 10px;
}

.about_us a:hover{
	color: #9f9f9f;
	text-decoration: none;
}


@media screen and (max-width: 992px){
	#landing-content .landing-panel{
		margin-bottom: 30px;
	}

	#landing-content{
		position: relative;
		top: 30px;
		height: auto;
	}

	.about_us{
		position: relative;
		text-align: center;
	}

	.about_us a:last-child{
		margin-right: 0;
	}
}







/* STATIC PAGES
====================================== */

.static-page{
	h3{
		color: white;
		padding: 30px 0;	
	}

	/* CLOSE PAGE */
	.close-page{
		position: absolute;
		top: 10px;
		right: 10px;
		opacity: 0.5;
		transition: 0.2s;
		-webkit-transition: 0.2s;
		-moz-transition: 0.2s;

		a{
			color: white;
		}
	}

	.close-page:hover{
		opacity: 1;
		transition: 0.2s;
		-webkit-transition: 0.2s;
		-moz-transition: 0.2s;
	}

	/* ABOUT ME */
	.about-me{
		background-color: #fff;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
		position: relative;
		padding: 35px;

		img{
			width: 150px;
			margin: 0 auto 20px;	
		}

		p{
			color: #9f9f9f;
			font-size: 13px;
		}

		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			margin-top: 35px;

			li{
				display: inline-block;
				padding: 0 25px;

				a{
					color: #9f9f9f;

					&:hover{
						color: #428bca;
					}
				}
			}

			li:first-child{ padding-left: 0px; }
			li:last-child{ padding-right: 0px; }
		}

		.about-me-text{
			height: 250px;
			overflow: auto;
		}
	}

	.extra-padding{
		padding: 30px 15px;
	}


	/* THANKS SECTION (DEPRECATED)*/
	.special-thanks{
		
		*{
			font-size: 10px;
			color: #fff;
		}

		img{
			margin: 0 auto;
			width: 40px;
		}

		p{
			margin: 0;
		}

		a{
			border-bottom: 1px dotted #fff;

			&:hover{
				text-decoration: none;
				color: white;
				border-bottom: 1px dotted #428bca;
			}
		}
	}

	.terms{
		margin-bottom: 16px;
	}

}




/* ISOTOPE BLOX LISTING
========================================== */

.bloc-listing{

	margin: 50px auto;
	width: 1140px;

	.item {
		display: inline-block;
		width:  285px; 
		padding:  0.50rem;


		iframe{
			border: none;
            width: 1200px;
			-moz-transform: scale(0.2175);
			-moz-transform-origin: 0 0;
			-o-transform: scale(0.2175);
			-o-transform-origin: 0 0;
			-webkit-transform: scale(0.2175);
			-webkit-transform-origin: 0 0;
		}

		a.iframe-container{
			overflow: hidden;
			display: block;
			cursor: pointer;
			position: relative;
		}

		.glasspanel{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
			cursor: pointer;
			background-color: #fff;
			opacity: 0;
		}

		.glasspanel:hover{opacity: 0.3;}

		.hidden{display: none;}
		

		.item-content{
			padding: 0.70rem;
			background-color: #fff;
			border-radius: 3px;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
			box-sizing: border-box;
			display: block;

			.bloc-info{
				padding: 1rem 0 0.3rem;
				border-top: 1px solid #f5f5f5;

				.bloc-info-name{
					display: inline-block;
					color: #777;
					font-size: 12px;
					width: 68%;
				}

				.bloc-info-name:hover{
					color: #333;
					text-decoration: none;
				}

				/* LIKEABLE STYLING */
				.bloc-likes{
					display: inline-block;
					a{
						opacity: 0.7;
						&:hover {
							text-decoration: none;
							opacity: 1;
						}
					}

					.bloc-unlike{
						color: #C61D38;
					}

					.bloc-like{
						color: #999;
					}

				}

				.user-controls{
					display: inline-block;
					width: 30%;
					text-align: right;

					.add-to-bucket-container{
						display: inline-block;
						margin-right: 6px;
						border-right: 1px solid #e5e5e5;
						padding-right: 10px;
					}

					.add-to-bucket{
						margin-right: 10px;
					}
				}

			}

			img:hover{
				opacity: 0.8;
			}
		}

		.bloc-builder{
			padding: 5px 10px 20px;

			img{
				width: 25px;
			}

			a.builder-profile{
				display: inline-block;
				font-size: 0.8em;
				color: #777;
			}

			a.builder-profile:hover{
				text-decoration: none;
				color: #333;
				cursor: pointer;
			}

		}

	}

}

@media screen and (max-width: 1140px){
	.bloc-listing{
		width: 855px;
	}
}

@media screen and (max-width: 855px){
	.bloc-listing{
		width: 570px;
	}
}

@media screen and (max-width: 570px){
	.bloc-listing{
		width: 285px;
	}
}


/* WEBLOX LANDING PAGE
========================================== */

.weblox-landing{
	header {
	    text-align: justify;
	    height: 8em;
	    padding: 2em 5%;
	    color: #000;
	    position: fixed;
	    width: 100%;
	    text-transform: uppercase; 
	    z-index: 1;
	    -webkit-transition: all 0.4s;
	    -moz-transition: all 0.4s;
	    -ms-transition: all 0.4s;
	    -o-transition: all 0.4s;
	    transition: all 0.4s;
	}
 
	header::after {
	    content: '';
	    display: inline-block;
	    width: 100%;
	}
 
	header > div,
	header > div::before,
	header nav,
	header > div h1 {
	    display: inline-block;
	    vertical-align: middle;
	    text-align: left;
	}
 
	header > div {
	    height: 100%;
	}
	 
	header > div::before {
	    content: '';
	    height: 100%;
	}
	 
	header > div h1 {
	    font-size: 1em;
	    margin: 0;
	    -webkit-transition: all 0.4s;
	    -moz-transition: all 0.4s;
	    -ms-transition: all 0.4s;
	    -o-transition: all 0.4s;
	    transition: all 0.4s;
	}
 
	header nav a {
	    padding: 0 0.6em;
	    white-space: nowrap;
	    color: #000;
	    opacity: 0.6;
	    text-decoration: none;
	}
	 
	header nav a:last-child {
	    padding-right: 0;
	}

	header nav a{ position: relative;}

	header nav a:hover,
	header nav a:focus{
	    text-decoration: none;
	    opacity: 1;
	    outline: none;
	    cursor: pointer;
	}

	header.nav-collapse{
	    background: #000;
	    padding: 0 10%;
	    height: 60px;
	}

	header.nav-collapse a{
		color: #fff;
	}

	header.nav-collapse > div h1{
	    -webkit-transition: all 0.4s;
	    -moz-transition: all 0.4s;
	    -ms-transition: all 0.4s;
	    -o-transition: all 0.4s;
	    transition: all 0.4s;
	}
 
	@media screen and (max-width: 720px){

		header nav a{
	    	color: #fff;
	    }
	     
	    header {
	        height: auto;
	        background: #111;
	        -webkit-transition: all 0.4s;
	        -moz-transition: all 0.4s;
	        -ms-transition: all 0.4s;
	        -o-transition: all 0.4s;
	        transition: all 0.4s;
	        padding: 0;
	    }
	     
	    header > div,
	    header > div h1,
	    header nav {
	        height: auto;
	        width: auto;
	        display: block;
	        text-align: center;
	    }

	    header > div:before,
	    header:after{
	        content: none;
	    }

	    header > div,
	    header > nav{
	        padding: 0.5em;
	    }

	    header > nav{
	        background: #111;
	    }

	    header.nav-collapse{
	        height: auto;
	    }
	     
	}

	.branding-nav{
		height: 50px;
	}

	.hero{
		height: 100vh;
	    overflow: hidden;
	    display: flex;
	    align-items: center;
  		justify-content: center;

  		.hero-content{
  			width: 70vw;

  			h1{
  				color: #000;
  				font-size: 3em;
  			}

  			h3{
  				color: #555;
  				font-size: 2em;
  				line-height: 1.2em;
  				width: 50vw;
  			}
  			
  		}
	}

	@media screen and (max-width: 600px){
		.hero .hero-content{
			text-align: center;

			h1{
				font-size: 2em;
			}

			h3{
				font-size: 1.5em;
				width: 100%;
			}
		}
	}

	.hero:after{
		content: "";
		background-image: image-url("layouts.png");
  		background-color: #fff;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover; 
		background-size: cover; 
		opacity: 0.1;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

	}

	.polygon-divider{
		height: 5px;
		width: 100%;
		background-image: image-url("polygon.jpg");
		background-size: cover;
		background-position: 50% 50%;
		margin-top: -5px;
	}

	.home-content-container{
		background-color: #fff;
		padding: 90px inherit 0;

		h2{
			font-size: 2.8em;
			text-align: center;
			color: #384047;
			line-height: 2em;
			margin-bottom: 70px;

			small{
				color: #8c989e;
				font-size: 0.4em;
				display: block;
			}
		}

		p{
			color: #8c989e;
			font-size: 14px;
			line-height: 1.6;
			font-family: 'Open Sans';
		}

		.gs-blox, .gs-webpage, .gs-create{
			padding-bottom: 140px;

			img{
				border-radius: 5px;
			}

			h3{
				margin-top: 0;
			}
		}

		.float-right{
			float: right;
		}
	}

	.home-about-us{
		margin-top: 150px;
		background-image: image-url("polygon.jpg");
		background-size: cover;
		background-position: 50% 50%;
		padding: 60px 0 100px;
		position: relative;	

		h2{ color: white; }

		.about-me{
			background-color: #fff;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.18);
			position: relative;
			padding: 35px;

			img{
				width: 100px;
				margin: 0 auto 20px;
			}

			.about-me-text{
				overflow: auto;
			}

			ul.social{
				list-style-type: none;
				margin: 0;
				padding: 0;

				li{
					display: inline-block;
					padding: 0 15px;

					a{ color: #9f9f9f; }
					a:hover{ color: #428bca; }
				}

				li:first-child{padding-left: 0px;}
				li:last-child{padding-right: 0px;}
			}
		}
	}

	.special-thanks{
		background-color: #f5f5f5;
		padding: 50px 0;
	}
	
	@media screen and (max-width: 980px){
		footer{
			border-top: 1px solid #e5e5e5;
		}

		footer .text-right{
			text-align: center;
			margin-top: 10px;
		}
	}


}

/* WEBLOX GENERIC FOOTER
========================================== */
footer{
	background-color: #fff;
	padding: 25px 0;

	a{
		color: #888;
		margin-left: 10px;
	}

	a:hover{
		color: #555;
		text-decoration: none;
	}

	.fa-heart{
		color: #C61D38;
	}
}


/* SIGN-IN MODAL
========================================== */
#signin-modal-container{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	z-index: -100;

	.signin-modal{
		width: 500px;
		height: 510px;
		z-index: 101;
		background-color: #fff;
		position: relative;
		overflow: auto;
		border-radius: 3px;
		box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.18);
		padding: 35px;

		.modal-close{
			position: absolute;
			right: 15px;
			top: 15px;
			cursor: pointer;
			opacity: 0.7;

			img{
				width: 15px;
			}
		}

		.modal-close:hover{
			opacity: 1;
		}
	}
}

#signin-modal-container.active{
	z-index: 100;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}

/* FLASH NOTICES
========================================== */
#notice{
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin: 0;
	background-color: #4d90fe;
	color: white;
}
