/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */



@font-face {
	font-family: 'GothamRounded-Medium';
	src: font-url('GothamRounded-Medium.eot?') format('eot'), 
	     font-url('GothamRounded-Medium.otf')  format('opentype'),
	     font-url('GothamRounded-Medium.woff') format('woff'), 
	     font-url('GothamRounded-Medium.ttf')  format('truetype'),
	     font-url('GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
}


body{
	font-family: 'GothamRounded-Medium', Helvetica, Arial, sans-serif !important;
}

.polygon{
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	background-image: image-url("polygon.jpg");
	background-size: cover;
	background-position: 50% 50%;
	opacity: 1;
}

.weblox-nav-brand img{
	width: 150px;
	margin-top: -9px;
}

.page-border{
	position: fixed;
	height:5px;
	width: 100%;
	left:0;
	top: 0;
	background-image: image-url("polygon.jpg");
	background-size: cover;
	background-position: 50% 50%;
	z-index: 10;
	
}

#landing-content, #web-pages-content{
	position: absolute;
	height: 600px;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: calc(50% - 300px);
}



.landing-panel{
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
	position: relative;
	height: 600px;
	overflow: auto;

}

.panel-padding{
	padding: 35px;
}

.weblox-panel .weblox-branding{
	padding: 20px 0;
	background-color: #000;
	position: relative;
}


.weblox-panel .weblox-branding img{
	width: 100%;
}

.weblox-panel .weblox-branding:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000;
	border-width: 15px;
	margin-left: -15px;
}


.weblox-panel .weblox-text{
	font-size: 22px;
}

.weblox-panel .bootstrap-link{
	color: #583F7E;
	font-weight: bold;
}

.weblox-panel .bootstrap-link:hover{
	color: #6f5daf;
	text-decoration: none;
}

.weblox-panel .weblox-social{
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
}

.weblox-social ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 35px;
}

.weblox-social ul li{
	display: inline-block;
	padding: 0 25px;
}

.weblox-social ul li:first-child{
	padding-left: 0px;
}

.weblox-social ul li:last-child{
	padding-right: 0px;
}

.weblox-social ul li a{
	color: #9f9f9f;
}
.weblox-social ul li a:hover{
	color: #428bca;
}



.form-panel h4{
	padding-bottom: 35px;
	text-align: center;
}

.form-panel .form-control{
	height: 40px;
}

.form-panel .btn{
	height: 45px;
	text-transform: uppercase;
}

.form-panel .or-divider{
	position: relative;
	padding: 20px 0;
}

.form-panel .or-divider .or-text{
	position: absolute;
	border: 1px solid #e5e5e5;
	height: 30px;
	width: 30px;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
}

.form-panel .or-divider .or-text img{
	width: 100%;
}

.form-panel .weblox-form a{
	color: #428bca;
}

.form-panel .weblox-form a:hover{
	color: #666;
	text-decoration: none;
}

.btn.btn-social{
	position: relative;
	line-height: 35px;
}

.form-panel .btn i{
	padding-right: 10px;
}

.btn.btn-new{
	border: 1px solid #4d90fe;
	background-color: #fff;
	color: #222;
}

.btn.btn-social{
	border: 1px solid #e5e5e5;
	background-color: #f9f9f9;
	color: #444;
	// text-shadow: 0 1px rgba(0,0,0,0.1);
}

.btn.btn-social:hover{
	border-color: #e1e1e1;
	background-color: #f5f5f5;
}

.form-panel .form-footer-info{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	line-height: 49px;
	background-color: #f9f9f9;
	width: 100%;
	border-top: 1px solid #e5e5e5;
	font-size: 12px;
}

.form-panel .form-footer-info a{
	color: #666;
	font-size: 12px;
}

.form-panel .form-footer-info a:hover{
	color: #428bca;
	text-decoration: none;
}


.form-footer-info div:first-child{
	border-right: 1px solid #e5e5e5;
}

.form-footer-info a.btn-sign-up {
    height: 90%;
    color: white;
    width: 95%;
}
.form-footer-info a.btn-sign-up:hover {
    color:  white;
}








.btn.btn-primary{
border: 1px solid #3079ed;
color: #fff;
text-shadow: 0 1px rgba(0,0,0,0.1);
background-color: #4d90fe;
background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
background-image: linear-gradient(top,#4d90fe,#4787ed);
}

.btn.btn-primary:hover{
	background-color: #0e73ee;
	background-image: -webkit-linear-gradient(top,#2e89ff,#3079ED);
	background-image: linear-gradient(top,#2e89ff,#3079ED);
}

.btn.btn-twitter{
	border: 1px solid #2cb8e7;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #3cf;
	background-image: -webkit-linear-gradient(top,#3cf,#2cb8e7);
	background-image: -moz-linear-gradient(top,#3cf,#2cb8e7);
	background-image: -ms-linear-gradient(top,#3cf,#2cb8e7);
	background-image: -o-linear-gradient(top,#3cf,#2cb8e7);
	background-image: linear-gradient(top,#3cf,#2cb8e7);
}
.btn.btn-twitter:hover{
	color: #fff;
	background-color: #2cb8e7;
	background-image: -webkit-linear-gradient(top,#2cb8e7,#27b0dd);
	background-image: -moz-linear-gradient(top,#2cb8e7,#27b0dd);
	background-image: -ms-linear-gradient(top,#2cb8e7,#27b0dd);
	background-image: -o-linear-gradient(top,#2cb8e7,#27b0dd);
	background-image: linear-gradient(top,#2cb8e7,#27b0dd);
}
.btn.btn-facebook{
	border: 1px solid #3B5998;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #3cf;
	background-image: -webkit-linear-gradient(top,#3B5998,#324D87);
	background-image: -moz-linear-gradient(top,#3B5998,#324D87);
	background-image: -ms-linear-gradient(top,#3B5998,#324D87);
	background-image: -o-linear-gradient(top,#3B5998,#324D87);
	background-image: linear-gradient(top,#3B5998,#324D87);
}

.btn.btn-facebook:hover{
	color: #fff;
	background-color: #2cb8e7;
	background-image: -webkit-linear-gradient(top,#3B5998,#2A4378);
	background-image: -moz-linear-gradient(top,#3B5998,#2A4378);
	background-image: -ms-linear-gradient(top,#3B5998,#2A4378);
	background-image: -o-linear-gradient(top,#3B5998,#2A4378);
	background-image: linear-gradient(top,#3B5998,#2A4378);
}



.about_us{
	position: absolute;
	padding: 20px;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: right;
}

.about_us a{
	color: white;
	margin-right: 10px;
}

.about_us a:hover{
	color: #9f9f9f;
	text-decoration: none;
}


input[type=checkbox].css-checkbox {
	display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:30px;
	height:25px; 
	display:inline-block;
	line-height:27px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -25px;
}
label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_843386d3cb9a4d1c05313c7f23788d43.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* STATIC PAGES */

.static-page .close-page{
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0.5;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
}

.static-page .close-page:hover{
	opacity: 1;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
}

.static-page .close-page a{
	color: white;
}

.static-page h3{
	color: white;
	/*text-shadow: 0 1px rgba(0,0,0,0.3);*/
	padding: 30px 0;
}

.static-page .about-me{
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
	position: relative;
	padding: 35px;
}


.static-page .about-me img{
	width: 150px;
	margin: 0 auto 20px;
}

.static-page .about-me .about-me-text{
	height: 250px;
	overflow: auto;
}

.static-page p{
	color: #9f9f9f;
	font-size: 13px;
}

.static-page .about-me ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 35px;
}

.static-page .about-me ul li{
	display: inline-block;
	padding: 0 25px;
}

.static-page .about-me ul li:first-child{
	padding-left: 0px;
}

.static-page .about-me ul li:last-child{
	padding-right: 0px;
}

.static-page .about-me ul li a{
	color: #9f9f9f;
}

.static-page .about-me ul li a:hover{
	color: #428bca;
}

.static-page .extra-padding{
	padding: 30px 15px;
}


.static-page .special-thanks img{
	margin: 0 auto;
	width: 40px;
}

.static-page .special-thanks *{
	font-size: 10px;
	color: #fff;
}

.static-page .special-thanks p{
	margin: 0;
}

.static-page .special-thanks a{
	border-bottom: 1px dotted #fff;
}

.static-page .special-thanks a:hover{
	text-decoration: none;
	color: white;
	border-bottom: 1px dotted #428bca;

}




.static-page .terms{
	margin-bottom: 16px;
}