.dropdown-menu.settings-menu > li > a{
	color: #888;
}

.nav .dropdown .glyphicon-user{
	margin-right: 5px;
}

.settings-menu{
	font-size: 12px;

	.userid{
		margin-top: 5px;

		.useravatar{
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
			img{
				height: 35px;
			}
		}
		
		.userhandle{
			display: inline-block;
			font-size: 14px;
			color: #333;

			small{
				display: block;
				font-size: 10px;
				color: #555;
			}
		}
	}

}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
