// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{

	margin-top: 50px;

	.profile-actions{
		padding: 10px 0;

		.align-right{
			text-align: right;
		}
	}

	.profile-heading{
		background-color: #fff;
		padding: 40px 0;

		.profile-info{
			text-align: center;
			text-transform: uppercase;

			.profile-bio{
				line-height: 22px;
				color: #555;
				text-transform: none;
			}

			.profile-quicklink{
				display: inline-block;
				padding: 0 30px;
				color: #777;
				font-size: 14px;
			}

			.profile-quicklink a{
				color: #777;
				font-size: 14px;
			}

			.profile-quicklink a:hover{
				color: #555;
				text-decoration: none;
			}

			.profile-quicklink i{
				margin-right: 10px;
			}
		}

	}

	.profile-border{
		height: 5px;
		width: 100%;
		background-image: url(/assets/polygon.jpg);
		background-size: cover;
		background-position: 50% 50%;
	}

	.avatar{
		padding: 5px 10px 10px;

		img{
			width: 80px;
			height: 80px;
			margin-top: 10px;
		}
	}
	.builder-profile{
		text-align: center;
	}
	li{
		list-style: none;
	}

}


