/**
 * Kimbie (Light)
 *
 * @author Jan T. Sott
 * @version 1.0.0
 * @url http://github.com/idleberg/Kimbie-Rainbow
 */
pre {
    background-color: #f7f7f9;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #221a0f;
    font-size: 12px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #999;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #00AA88; /* green */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #FF6600; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #00AA88; /* green */
}

pre .constant.symbol, pre .string {
    color: #006699; /* blue */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #006699; 
}

pre .keyword, pre .storage {
    color: #98676a; /* purple */
}