<h1>Listing categories</h1>


    <% for category in @categories %>
      <strong><%= category.name %></strong>
      <ul>
        <% for bloc in category.blocs %>
          <li><%= bloc.name %></li>
        <% end %>
      </ul>
      <% end %>


<br>

<%= link_to 'New Category', new_category_path %>
