<div class="polygon"></div>

<div id="web-pages-content">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="col-md-6 col-md-offset-3">
					<div class="landing-panel form-panel weblox-panel">
						<div class="weblox-branding">
			            	<%= image_tag("weblox-branding.png", class: "weblox-main-branding") %>
			            	<div class="arrow-down"></div>
			            </div>

			            <div class="weblox-form panel-padding">
			            	<h4>New Category</h4>
			            	<%= render 'form' %>
			            </div>

			            <div class="form-footer-info text-center">
			            	<%= link_to 'Return to Dashboard', '/dashboard/show'  %>
			            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






