<div class="polygon-divider" width="300" height="200"></div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        The Weblox Project
      </div>
      <div class="col-md-2 text-right">
        <a href="/terms">Terms</a>
        <a href="/contacts/new">Contact</a>
      </div>
    </div>
  </div>
</footer>